.formly {
  padding: 80px;
  height: 400px;
  width: 400px;
  background: url('../../images/parchment.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}

.formly .title {
  margin-bottom: 50px;
}

.form-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-row input {
  background: none;
  border: none;
  border-bottom: 2px solid black;
}

.row-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
}

.row-error {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: red;
}