.container {
  padding-top: 20px;
}

.respuesta{
  border-width: 0px 0px 3px 3px;
  border-style: solid;
  border-color: #dbe8ff;
  background-color: #fbf6fc;
}

.noticia{
  border-width: 0;
  border-style: solid;
  border-color: #A2C3F9;
  background-color: #f4f8ff
}

.formulario{
  border-width: 0;
}
