.container {
  font-family: morris;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.heroes-list, .form {
  padding: 30px;
  height: calc(100% - 60px);
  width: calc(50% - 60px);
}
