@font-face {
  font-family: 'morris';
  src: url('./fonts/morrisroman-black-webfont.woff2') format('woff2'),
        url('./fonts/morrisroman-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
html {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255,255,255, .7), rgba(255,255,255,.7)), url('./images/bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}